

.header > *{
    display: inline-block;
    font-size:16px;
    vertical-align: middle;
    height:100%;
    line-height:45%;
}
/* 
.a{
    color: black;
}

.body{
    margin: 4px 10px 15px 50px;
} */

/* .ul{
    display: flex;
}
.li{
    display: inline;
} */

.logo {
    width: 15%;
    height:100%;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
  .logo > img {
    height: 100%;
  }